---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    {{ content }}

    <ul class="blog-posts">
        {% for post in site.posts %}
        {% for tag in post.tags %}
        <li>
            <span>
                <i>
                    <time datetime="2022-01-28" pubdate="">
                        {{ post.date | date: "%b %-d, %Y" }}
                    </time>
                </i>
            </span>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        {% endfor %}

    </ul>

    <small>

        {% for tag in site.tags %}

        {% assign tag_slug = tag | first %}
        {% assign no_of_posts = tag | last | size %}

        <a href="{{ 'tagged/' | relative_url }}{{ tag_slug }}" title="See all posts by {{ tag_slug }} tag">#{{ tag_slug }}</a>
        {% endfor %}
    </small>

</main>

{% include footer.html %}

</body>

</html>